<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Doody's World is platform game, end the levels as fast as you can to be the best in the world!" />
    <title>Doody's World - All Accounts</title>
    <link href="https://fonts.googleapis.com/css?family=Chilanka&display=swap" rel="stylesheet">
    <link rel="icon" type="image/gif" href="assets/img/favicon.png" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    
    <!-- header -->
    <header>
        <a href="home"><img src="assets/img/imgWeb/logo.png" id="up" alt="LogoDoodysWorld"></a>
        {{ loginLogout }}
    </header>

        {{ message }}
    
    <div class="bestScores">
        <h1>ALL ACCOUNTS</h1>
        {{ accounts }}
    </div>
    
    <!-- footer -->
    {{ footer }}
</body>

</html>