<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Doody's World is platform game, end the levels as fast as you can to be the best in the world!" />
    <title>Doody's World - Home</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/phaser/3.19.0/phaser.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Chilanka&display=swap" rel="stylesheet">
    <link rel="icon" type="image/gif" href="assets/img/favicon.png" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <!-- header -->
    <header>
        <a href="home"><img src="assets/img/imgWeb/logo.png" id="up" alt="LogoDoodysWorld"></a>
        {{ loginLogout }}
    </header>

    {{ intro }}
    
    {{ message }}
    <!-- game canvas -->
    <div id="game"></div>

    <!-- score -->
    {{ scoreForm }}

    <!-- footer -->
    {{ footer }}

    <script src="scripts/main.js"></script>
    <script src="scripts/loading.js"></script>
    <script src="scripts/menu.js"></script>
    <script src="scripts/controls.js"></script>
    <script src="scripts/inGame.js"></script>
    <script src="scripts/gameOver.js"></script>
    <script src="scripts/win.js"></script>
    <script src="scripts/game.js"></script>
</body>

</html>