body {
    font-family: 'Chilanka', 'Arial', 'sans-serif';
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding-top: 50px;
    padding: 0;
    background-image: url(assets/img/imgWeb/bg.jpg);
    background-size: cover;
    background-position: center;
    color: rgb(42, 42, 42);
}


#submit{
    display: none;
}

/*------------
*   HEADER   *
-------------*/

header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    padding-top: 10px;
    margin-bottom: 50px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 1);
}

header img {
    margin-bottom: 20px;
    margin-top: 20px;
    width: 80%;
}

header form {
    display: flex;
    margin: auto;
    margin-bottom: 20px;
    width: 60%;
    justify-content: center;
}

header form input {
    height: 30px;
    margin-right: 20px;
    text-align: center;
}

header #loginNickname {
    background-color: rgba(99, 236, 99, 0.4);
    border: none;
    border-radius: 5px;
}

header #loginPassword {
    background-color: rgba(99, 147, 236, 0.4);
    border: none;
    border-radius: 5px;
}

header #login {
    background-color: rgb(236, 227, 99);
    border: none;
    height: 35px;
    border-radius: 5px;
}

header #signInLink {
    background-color: rgba(236, 99, 99, 0.734);
    border: none;

    border-radius: 5px;
    color: black;
    font-family: sans-serif;
    font-weight: normal;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    font-size: 13px;
}

header #login:hover {
    background-color: rgb(252, 238, 53);
    cursor: pointer;
}

header #signInLink:hover {
    background-color: rgba(248, 62, 62, 0.857);
    cursor: pointer;
}

header .headerHomeScoreLink {
    width: 200px;
    height: 40px;
    margin: auto;
    padding: 10px;
}

header .headerHomeScoreLink a {
    text-decoration: none;
    color: rgba(60, 60, 20, 0.8);
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
}

header .headerHomeScoreLink :hover {
    color: rgba(60, 150, 150, 0.9);
}

#welcome{
    margin: auto;
    margin-bottom: 20px;
}

#welcome p {
    color: rgba(60, 60, 20, 0.8);
    font-size: 30px;
}

#welcome a {
    color: rgba(60, 60, 20, 0.8);
    text-decoration: none;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

#welcome a:hover {
    color: rgba(60, 150, 150, 0.9);

}

/*------------
*    INTRO   *
------------*/
#intro{
    color: rgba(50, 50, 10, 0.8);
}



/*------------
* SCORELABEL *
------------*/

#scoreForm {
    margin: auto;
    margin-top: 50px;

}

#nicknameToSave {
    background-color: rgba(62, 248, 84, 0.7);
    text-align: center;
    height: 35px;
    border-radius: 5px;
}

#scoreForm a{
    text-decoration: none;
    font-size: 18px;
    color: rgba(50, 50, 10, 0.8);
}

#scoreForm a:hover{
    color: rgba(60, 150, 150, 0.9);
}

#score {
    color: rgba(50, 50, 10, 0.8);
    font-size: 30px;
    margin-top: 20px;
}

#yourScore{
    font-size: 25px;
    color: rgba(50, 50, 10, 0.8);
}

#submit {
    background-color: rgba(60, 60, 20, 0.8);
    border: rgba(50, 50, 10, 0.8);
    height: 40px;
    width: 150px;
    border-radius: 5px;
    color: rgba(230, 230, 230);
}

#submit:hover {
    background-color: rgba(60, 150, 150, 0.9);
    border: rgba(62, 71, 248, 0.9);
}

/*------------
*SIGN IN FORM*
-------------*/
#signInForm{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 250px;
}

#signInForm input{
    margin: 10px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
}

.available{
    font-size: 12px;
    color: green;
}

.notAvailable{
    font-size: 12px;
    color: red;
}

.bestScores{
    margin: auto;
    width: 300px;
    background-color: rgba(255,255,255,0.5);
    -webkit-box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(0,0,0,0.7);
    padding: 10px;
}

.bestScores h1{
    text-decoration: underline;
}

.scores{
    width: 280px;
    margin: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid silver;
}

.scores input{
    background-color: rgba(50, 50, 10, 0.8);
    color: rgba(250, 250, 250, 0.8);
    border: none;
    border-radius: 3px;
    padding: 5px;
}

.scores input:hover{
    background-color: rgba(60, 150, 150, 0.9);
    cursor: pointer;
}

#signIn{
    background-color: rgba(50, 50, 10, 0.8);
    color: rgba(240, 240, 240, 0.8);
    border: none;
    border-radius: 3px;
    padding: 5px;
}

#signIn:hover{
    background-color: rgba(60, 150, 150, 0.9);
    cursor: pointer;
}

#signIn:disabled{
    cursor: not-allowed;
}

label{
    margin-top: 15px;
}
h3{
    margin-bottom: 50px;
}

/*------------
*   FOOTER   *
-------------*/
#socialIcons{
    margin-top: 20px;
}

#socialIcons a {
    font-size: 35px;
    margin: 10px;
    color: rgba(50, 50, 10, 0.8);
}

#socialIcons a:hover {
    color: rgba(60, 150, 150, 0.9);
}


footer{
    padding: 20px;
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 1);
}

footer p {
    font-size: 12px;
    color: rgba(50, 50, 10, 0.8);
}

#game{
    margin-top: 30px;
}

footer #arrow {
    color: rgba(50, 50, 10, 0.8);
}

footer #arrow:hover{
    color: rgba(60, 150, 150, 0.9);
}

@media screen and (orientation: portrait){
    @media screen and (max-width: 1024px) and (min-width: 769px){
        #game{
            margin-bottom: -700px;

        }
    }

    @media screen and (max-width: 768px) and (min-width: 664px){
        #game{
            margin-bottom: -500px;

        }
    }

    @media screen and (max-width: 663px){
        #game{
            height: auto !important;
            /*margin-bottom: -300px;*/

        }
    }
}

@media screen and (max-width: 768px) {
    

    header form, header #welcome{
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    header form input{
        margin: auto;
        margin-bottom: 10px;
        width: 200px;
    }

    #login{
        width: 200px;    
        margin: auto;
        margin-bottom: 10px;
    }

    header #signInLink {
    background-color: rgba(236, 99, 99, 0.734);
    border: none;
    width: 200px;
    border-radius: 5px;
    color: black;
    font-family: sans-serif;
    font-weight: normal;
    text-decoration: none;
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 13px;
    margin: auto;
    margin-top: 20px;
    }

   
}
